
<div class="modal fade" id="formaPagemento" tabindex="-1" aria-labelledby="formaPagemento" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="atualizaEnd"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-body">
				<div class="card-header">
					<center><h4>Foma de Pagamento</h4></center>
				</div>

				<div style="margin-top:30px;">
					<md-button style="width: 100%; height: 50px; text-align: left; font-size: 20px; text-transform:capitalize; color:#707070;
					" ng-click="addFormaDePagamento('c',0)">
						Cartão de Crédito/Débito
						<!--span><i class="fas fa-plus"></i></span-->
					</md-button>

					<md-button ng-click="showPagamentoDinheiro()" style="width: 100%; height: 50px; margin-top:15px; text-align: left; font-size: 20px; text-transform:capitalize; color:#707070;">
						Dinheiro na Entrega
						<!--span><i class="fas fa-plus"></i></span-->
					</md-button>

				</div>
			</div>
			
		</div>
	</div>
</div>

	

