<style>

	.container-app{
		background-image: linear-gradient(to top,rgba(215,215,215,1) 20%, rgba(255,255,255,1))!important;
	}
	.card-header{
		background-color:transparent !important;
		border-bottom: none;
	}
	@font-face {
	   font-family:Poppins-Medium;
	   src: url('Font/Poppins-Medium.ttf');
	}
	.img-fluid {
		max-width: 30%;
		height: auto;
	}

	.emp{
		font-size:6vw;
		text-align: left;
		font-weight: bold;
		
		letter-spacing: 0px;
		color: #000000;
	}
	.emp-end{
	position: absolute;
	margin-left: 25%;
	margin-top:-35px;
	font-size: 14px;
	color: #000000;
	opacity: 0.5;
  }
  .qts{
	  
	padding: 0 10px 0 10px;
	border: 1.5px #F51929 solid; 
	border-radius: 6px;
	color: #F51929;
  }
  .md-accent{
	background-color: #F51929 !important;
	width: 100%;
  }
  .list-group-item{
	padding: .2rem .2rem;
	background-color: transparent;
	font-size: 13px;
	margin-bottom: 2px;
	border:none;
  }

  .badge-primary {
	color: #fff;
    background-color: #c3bfbf;
  }
  .modal {
 	z-index:9999;
}

.md-warn{
	font-size: 14px;
}

.aguarde{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	
}
.progress-circular{
	position: absolute;
	top: 50%;
	left: 40%;
}
.container{
	padding:0 !important;
}
.container img {
   
    width: 100%;
    /*max-height: 40vw;*/
}


</style>
	<div flex="15" style="margin-left: 10px; top: 8px; font-size: 25px; position: inherit; z-index: 9999;">
		<a href="<?=$urlAssets?>estabelecimento/<?=$route['id']?>/<?=$route['token']?>"><i class="fas fa-chevron-left" ></i></a>
		
	</div>

	<h5 style="position: absolute; top:8px; left: 50px;">Sacola</h5>

	<div  ng-class="perfil != null ? '': 'log-align'" style="margin-bottom: 15px; border-radius: 0 0 20px 20px; background-color:rgb(255,255,255);">
		<div class="container">
			<!--img src="https://zmsys.com.br/imagens_empresas/11/logo/ImagemEstabelecimento.png" class="rounded mx-auto d-block"-->
			<img src="<?=$urlBaseImg?>{{empresa[0].em_foto_app_sacola}}" class="rounded mx-auto d-block">
		</div>
		<!--div style="width: 100%;">

			<img src="https://zmsys.com.br/imagens_empresas/11/logo/ImagemEstabelecimento.png" style="width:100%;">

			<!--div layout="row" style="">

				<img src="https://zmsys.com.br/imagens_empresas/11/logo/ImagemEstabelecimento.png" style="width:40%;">

				<div flex="" flex-offset="0">
					<div layout="row" layout-align="center center">

						<img src="data:image/jpeg;base64,{{empresa[0].em_logo}}" class="img-fluid">
						
						<img src="https://zmsys.com.br/imagens_empresas/11/logo/ImagemEstabelecimento.png" style="width:40%;">
						<div flex="">
							<span class="emp">{{empresa[0].em_fanta}} </span><br>
							
						</div>

					</div>
					
					<span class="emp-end">{{empresa[0].em_cid}}</spans>
				</div>

			</div-->

		<!--/div-->

		<?php
			include_once("resources/modal/modo-de-entrega.html");
		?>
		<div ng-if="perfil != null" style="margin-top:8px;">
			
			<span style="margin-left:10px; color:#818181; font-size:18px;">Modo de entrega:</span>
			<!--div se não tiver um endereço padrão de entrega-->
			<div layout="row" flex-offset="5" ng-if="endereco == null">
				
				<div layout="column" layout-align="center center">
					<i class="fas fa-map-marker-alt" style="font-size:30px; color: rgba(87,87,87,1); margin-right: 15px;"></i>
				</div>

				<div flex="" style="margin-top:5px;">
					<h6 style="width: 80%;">Adicione um endereço para entrega</h6>
				</div>

				<div layout="column" layout-align="end end">
					<md-button href="<?=$urlAssets?>endereco/local_entrega/{{perfil[0].pe_site}}" class="md-warn">Adicionar</md-button>
				</div>
			</div>
			
			<!--div se tiver um endereço padrão de entrega-->
			<div layout="row" flex-offset="5" ng-if="endereco != null">
				<div layout="column" layout-align="center center">
					<i class="fas fa-home" style="font-size:30px; color: rgba(87,87,87,1); margin-right: 15px;" ng-if="endereco[0].local == 'Casa'"></i>
					<i class="fas fa-briefcase" style="font-size:30px; color: rgba(87,87,87,1); margin-right: 15px;" ng-if="endereco[0].local == 'Trabalho'"></i> 
					<i class="fas fa-map-marker-alt" style="font-size:30px; color: rgba(87,87,87,1); margin-right: 15px;" ng-if="endereco[0].local == 'Local Atual'"></i>
					<i class="fas fa-store" style="font-size:30px; color: rgba(87,87,87,1); margin-right: 15px;" ng-if="endereco[0].local == 'Retirar No Estabelecimento'"></i>
				</div>

				<div layout="column" flex="66">
					<div flex="">
						<h5>{{endereco[0].local}}</h5>
					</div>
					
					<div flex="" ng-if="endereco[0].local != 'Retirar No Estabelecimento'" style="font-size:16px;">
						Rua: {{endereco[0].pe_endereco}}, Nº {{endereco[0].pe_end_num}} - {{endereco[0].pe_cidade}},{{endereco[0].pe_uf}}<br>
						{{endereco[0].pe_end_comp}}	
					</div>
				</div>

				<div layout="column" layout-align="end end">
					<md-button href="<?=$urlAssets?>endereco/local_entrega/{{perfil[0].pe_site}}" class="md-warn">Alterar</md-button>
				</div>

			</div>


		</div>

		<hr style="width: 90%; margin: 0 auto; margin-top:18px;">

		<div style="padding-bottom:18px;" ng-if="endereco[0].local != 'Retirar No Estabelecimento'">
			<div layout="column" flex-offset="5" style=" font-weight: bold; font-size:16px;">
				<div>
					<span>Tempo Para Retirar: 40 a 60 Minutos</span>
				</div>
				<div>
					<span>Tempo De Entrega:  60 a 90 Minutos - Valor: <span ng-if="taxa.length != 0">{{taxa[0].ba_taxa | currency: 'R$ '}}</span></span>
				</div>
			</div>
		</div>

	</div>

	
	<?php
		include_once("resources/modal/selectLogin.html");
	?>

	<?php
		include_once("resources/modal/login.html");
	?>

	<?php
		include_once("resources/modal/cadastro.html");
	?>

	<?php
		include_once("resources/modal/confirmar.html");
	?>

	<?php
		include_once("resources/modal/Formas_de_Pagamento.html");
	?>
	
	<?php
		include_once("resources/modal/dinheiro.html");
	?>

	<?php
		include_once("resources/modal/cpf_cnpj.html");
	?>
	<?php
		include_once("resources/modal/alterar_senha.html");
	?>

	

	<div style="margin-bottom: 15px; border-radius:20px; background-color:rgb(255,255,255);">

		<div ng-repeat="sacola in sacola"  class="itens" style="">

			<div class="card-header" style="margin-bottom: -30px;">
				<div layout="row">
					<!--div><a ng-click="removerItemSacola(sacola)"><i class="fas fa-trash-alt" style="font-size: 18px; color:#F51929; margin-right: 15px; margin-top: 10px;"></i></a></div-->
					<div layout="column" flex="60">
						
						<div flex="" style="">

								<span class="md-headline" style="font-size: 20px; vertical-align: left; font-weight: bold; color: #000">{{sacola.pd_desc}}</span><br>
								<!--span class="md-headline" style="font-size: 12px; vertical-align: left;">Customizar <i class="fas fa-angle-down"></i> </span><br-->
								
								
								
						</div>

					</div>

					<div layout="row" style="margin-top:-2px;">
						<div class="" style="padding: none; height: 40px;">

							<div class="btn-group">
								<span class="badge badge-secondary" style="background:transparent; color: #F51929; border: 1.5px #F51929 solid;  width:66px; height: 28px; vertical-align: middle; font-size: 16px;">{{sacola.pd_quantidade}}</span>
								<!--span style="margin-top:6px;">{{sacola.pd_quantidade}}</span-->

							</div>
							
						</div>

						<div style="text-align: right; width: 100px;">

							<span style="text-align: right; font-size:18px;">{{sacola.v_total | currency: 'R$'}}</span>
						</div>

					</div>

				</div>

				<div layout="row" layout-align="space-between center" style="">
					<div>
						<md-button href="<?=$urlAssets?>item/{{sacola.item}}/<?=$route['id']?>/<?=$route['token']?>" class="md-warn">Editar</md-button>
					</div>

					<div>
						<!--md-button class="md-warn" ng-click="mostrarAdd(sacola.item)">Detalhe</md-button-->
					</div>

					<div>
						<md-button class="md-warn" ng-click="removerItemSacola(sacola)">Excluir</md-button>
					</div>

				</div>


				<div id="item{{sacola.item}}" style="display: block;">
					<span class="badge badge-primary badge-pill" style="font-size: 14px;">{{sacola.pd_obs}}</span>
					<ul class="list-group" ng-repeat="adicional in adicional | filter:{produto:sacola.item}">
						<li class="list-group-item align-items-center">
							<span class="badge badge-primary badge-pill" style="font-size: 16px;">{{adicional.ex_qts}}</span>
							{{adicional.ex_desc}}
						</li>
					</ul>
				</div>
			</div>

			<hr style="width: 90%; margin: 0 auto; margin-top:18px;">

		</div>

		<div class="card-header" style="margin-top: 30px; text-align:center;">
			<a href="<?=$urlAssets?>estabelecimento/<?=$route['id']?>/<?=$route['token']?>"><span class="emp" style="color: #F51929; font-size: 20px;">Adicionar mais itens </span><br></a>
		</div>
	</div>

	<div style="margin-bottom: 15px; border-radius:20px; background-color:rgb(255,255,255);">
		<div class="card-header" style="">
			<span style="font-size: 20px; font-weight: bold;">Detalhes </span><br>

			<div layout="row" style="margin-top: 18px;">
				<div flex="80">
					<span style="font-size: 15px; font-weight: bold; color:#7f7f7f"> Item Total</span>
				</div>

				<div flex="20" style="text-align: right;">
					<span style="font-size: 15px; font-weight: bold;"> {{totalSacolaValor | currency:'R$'}}</span>
				</div>
			</div>

			<div layout="row" style="margin-top: 14px;" ng-if="endereco[0].local != 'Retirar No Estabelecimento' && taxa.length != 0">
				<div flex="80">
					<span style="font-size: 15px; font-weight: bold; color:#7f7f7f"> Entrega</span>
				</div>

				<div flex="20" style="text-align: right;">
					<span style="font-size: 15px; font-weight: bold;"> {{taxa[0].ba_taxa | currency: 'R$ '}}</span>
				</div>
			</div>

			<hr style="width: 90%; margin: 0 auto; margin-top:14px;">

			<div layout="row" style="font-weight: bold; margin-top: 18px;">
				<div flex="80">
					<span> Total</span>
				</div>

				<div flex="20" style="text-align: right;" ng-if="endereco[0].local != 'Retirar No Estabelecimento'">
					<span style="font-size: 15px; font-weight: bold;"> {{totalSacolaValor + taxa[0].ba_taxa | currency:'R$'}}</span>
				</div>

				<div flex="20" style="text-align: right;" ng-if="endereco[0].local == 'Retirar No Estabelecimento'">
					<span style="font-size: 15px; font-weight: bold;"> {{totalSacolaValor | currency:'R$'}}</span>
				</div>

			</div>

			<hr style="width: 90%; margin: 0 auto; margin-top:14px;">
		</div>
		
		<div class="card-header" style="background: transparent;">
			<div class="input-group" style="width: 100%;">
				<textarea class="form-control" placeholder="Observação" style="height: 50px;" ng-model="obs">{{obs}}</textarea>
				<div class="input-group-append">
					<span class="input-group-text"><i class="far fa-edit"></i></span>
				</div>
			</div>
		</div>

	</div>
	
	
	<div style="margin-bottom: 15px; border-radius:20px; background-color:rgb(255,255,255);">
		
		<div class="card-header" style="background: transparent;" ng-if="perfil != null">
			<span style="font-size: 20px; font-weight: bold;">Pagamento</span>

			<div layout="row" layout-align="space-between center">

				<div>
					<span style="font-size: 16px; font-weight: bold;">Forma de Pagamento</span>
				</div>

				<div>
					<md-button ng-click="showFormaDePagamento()" class="md-warn">Escolher</md-button>
					<!--md-button href="<?=$urlAssets?>fPagamento"  ng-click="showListBottomSheet()" class="md-warn">Alterar</md-button-->
				</div>
			</div>
			
			<span style="font-size: 14px;" ng-if="formaPagamento != null">{{formaPagamento[0].forma}} <span ng-if="formaPagamento[0].trocoP != 0"> - Troco para {{formaPagamento[0].trocoP | currency:'R$'}}</span></span>

			<div layout="row" layout-align="space-between center">

				<div>
					<span style="font-size: 16px; font-weight: bold;">CPF/CNPJ na Nota</span>
				</div>

				<div><md-button class="md-warn" ng-click="modalcpf_cnpj()">Adicionar</md-button></div>
			</div>

			<span  style="font-size: 14px;" ng-if="cpfCnpj != null">CPF/CNPJ: {{cpfCnpj}}</span>
			
			<md-button class="md-accent md-raised" style="margin-left: -2px; border-radius: 6px; height: 48px; font-size: 18px; font-weight: bold;" ng-click="confirmarPedido()">Confirmar Pedido</md-button>
			<!--md-button class="md-accent md-raised" style="margin-left: -2px; border-radius: 6px;" ng-click="finalizarPedido(obs)">Finalizar Pedido</md-button-->
		</div>

	

		<div class="card-header" style="background: transparent; bottom: 0;"  ng-if="perfil == null">
			<span class="emp">Quase lá </span><br>
			<span>Entre / Crie uma conta para fazer o pedido</span>

			<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#selectLogin" style="margin-left: -2px; border-radius: 6px; height: 48px; font-size: 18px; font-weight: bold;">Entrar</button>
			<!--md-button href="<?=$urlAssets?>login/<?=$route['id']?>/<?=$route['token']?>" class="md-accent md-raised" style="margin-left: -2px; border-radius: 6px; height: 48px; font-size: 18px; font-weight: bold;">Entrar</md-button-->
		</div>
	</div>
	

