

<div class="modal fade" id="formaDinheiro" tabindex="-1" aria-labelledby="formaDinheiro" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formaDinheiro">Forma De Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-header">
                    <center><h4>Dinheiro</h4></center>
                    <br>
                    <center>Total do Pedido: {{totalSacolaValor + taxa[0].ba_taxa | currency:'R$'}}</center>
                </div>
                
                <center><span>Vai precisar de troco?</span></center>

                <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
                    <md-button flex="50" class="md-primary md-raised" ng-click="Trocoview = true" style="border-radius:6px; height:48px; background-color:#F51929 ;">SIM</md-button>
                    <md-button flex="50" class="md-primary md-raised" ng-model="n" ng-click="addFormaDePagamento('D','0')" style="border-radius:6px; height:48px; background-color:#F51929;">NÃO</md-button>
                </div>

                <div  layout="column" layout-sm="column" layout-align="center" ng-model="Trocoview" ng-show="Trocoview == true">
                    <center><span style="margin-top:15px; margin-bottom:8px ;">Para Quanto?</span></center><br>
                    <!-- <input type="text" inputmode="numeric" class="form-control" name="troco" ng-model="troco" value="" style="border-radius: 4px; font-weight: bold; text-align: right; height: 50px; font-size:18px;"  ng-enter="addFormaDePagamento('D',troco)" money-mask> -->
                    <input type="text" ui-money-mask inputmode="numeric" class="form-control" name="troco" ng-model="troco" value="" style="border-radius: 4px; font-weight: bold; text-align: right; height: 50px; font-size:18px;"  ng-enter="addFormaDePagamento('D',troco)">
                    <!-- <md-button class="md-primary md-raised" style="width: 95%; border-radius:6px; height:48px; background-color:#F51929;" ng-click="addFormaDePagamento('D',troco)" ng-show="Trocoview == true">CONFIRMAR {{troco}} > {{troco > totalSacolaValor + taxa[0].ba_taxa}} </md-button> -->
                    <md-button class="md-primary md-raised" style="width: 95%; border-radius:6px; height:48px; background-color:#F51929;" ng-click="addFormaDePagamento('D',troco)" ng-show="Trocoview == true && troco > totalSacolaValor + taxa[0].ba_taxa">CONFIRMAR </md-button>
                </div>

                <div  layout="row" layout-sm="column" layout-align="center" style="width: 100%;">
                    <!--md-button class="md-primary md-raised" style="width: 90%; border-radius:6px; height:48px; background-color:#F51929;" ng-click="addFormaDePagamento('D',troco)">CONFIRMAR</md-button-->
                </div>

            </div>

            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

      

    
    

